// Specific CSS for your home-page
body {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('bgimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

footer {
  background-color: #c32f27;
}

.user-form {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
}
