// Specific CSS for your home-page
body {
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), asset-url('bgimg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100vh;

}

footer {
  background-color: #c32f27;
  width:100%;
  position: absolute;
  bottom: -200;
}

.containr {
  position: relative;
  min-height: 100vh;
  padding-bottom: 200px;
}

.user-form {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 0;
}

.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
