<!-- mostrar o que tem na order
usuario cozinheiro data valor -->

<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @order.cook.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @order.user.first_name %>
</p>

<%#= link_to 'Edit', edit_.._path(@) %>
<%#= link_to 'Back', .._path %>
