<h1>Test HTML - CSS Components - Rental Local Cook</h1>

<!-- Navbar -->
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
    <%= image_tag "plate_image.jpg" %>
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Cozinheiros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Categorias</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Sobre Nós</a>
      </li>
      <li class="nav-item dropdown">
        <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://kitt.lewagon.com/placeholder/users/ssaunier" />
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
        </div>
      </li>
    </ul>
  </div>
</div>

<p></p>
<p></p>

<!-- Small avatar -->
<%= image_tag "https://kitt.lewagon.com/placeholder/users/arthur-littm", class: "avatar", alt: "avatar" %>

<p></p>
<p></p>

<!-- Success alert -->
<div class="flash flash-success alert alert-dismissible fade show" role="alert">
  <span><strong>Parabéns!</strong> Sua compra foi confirmada com sucesso!  </span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>


<!-- Unsuccess alert -->
<div class="flash flash-danger alert alert-dismissible fade show" role="alert">
  <span><strong>Ops!</strong> Houve algum problema na confirmação de sua compra.</span>
  <a data-dismiss="alert" aria-label="Close">
    <i class="fas fa-times"></i>
  </a>
</div>

<!-- Card product -->
<div class="card-product">
  <%= image_tag "chef.jpg" %>
  <div class="card-product-infos">
    <h4>Nome do Cozinheiro</h4>
    <h5>Categoria</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic voluptatum dolores at repellendus? Autem ipsam eum.</p>
    <div class="card-stars">
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="fa fa-star"></i>
      <i class="far fa-star"></i>
    </div>
  </div>
</div>

<p></p>
<p></p>

<a class="btn btn-red" href="#">Agendar</a>

<a class="btn btn-orange" href="#">Contrate</a>

<a class="btn btn-yellow" href="#">Reserve</a>

<p></p>
<p></p>

<p>Find me in app/views/pages/home.html.erb</p>
