.navbar-lewagon {
  justify-content: space-between;
  background: #462446;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

#app-name {
  font-family: 'Parisienne', cursive;
<<<<<<< HEAD
  color: #white;
=======
  color: white;
  font-size: 60px;
>>>>>>> f625f0f3c71d219d38488f46d894e0bb20c26511
}


