.navbar-lewagon {
  justify-content: space-between;
  background: #462446;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  height: 100%;
  width: 100px;
  object-fit: cover;
}

#app-name {
  font-family: 'Parisienne', cursive;
  color: white;
  font-size: 40px;
}
